.header
  height 48px
  padding 0 0 0 15px
  background #393a3f
  color #fff
  .title
    float left
    line-height 48px
    font-size 24px
    font-weight bold
  .btn
    float right
    height 48px
    line-height 48px
    text-align center
    font-size 26px
    &:active
      background #2e2e32
    .iconfont
      font-size 22px
  .add-btn
    width 70px
  .search-btn
    width 52px
  