border-1px()
  border-bottom 1px solid
  @media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (device-pixel-ratio:2)
    transform scaleY(0.5)
  @media only screen and (-webkit-min-device-pixel-ratio:3), only screen and (device-pixel-ratio:3)
    transform scaleY(1/3)