.tabs
  background-color #fcfcfc
  color #999999
  .list
    display flex
    box-sizing border-box
    height 54px
    border-top 1px solid #d6d6d6
    .item
      display flex
      flex 1
      text-align center
      flex-direction column
      justify-content center
      .iconfont
        font-size 24px
      .text
        margin-top 5px
        font-size 10px