.dialog-box
  box-sizing border-box
  height 100%
  width 100%
  padding 0 8px
  overflow hidden
  .container
    height 100%
    width 100%
    overflow scroll
    .item
      padding-bottom 12px
      &:first-child
        padding-top 12px